/*.company {
	display: inline-block
}*/

.name, .time {
	display: inline-block;
	margin: 5px
}

.container {
	display: inline-block;
	margin: 20px;
}

.mainContainer {
	display: flex
}

.item-edit {
	/*margin-left: 150px;*/
}